# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac OS X Finder Desktop Services Stores
.DS_Store

# git merge files
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# User-specific files
*.suo
*.cache
*.orig
*.udt

# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Bb]uild/
[Rr]elease/

#Project related

#Deployment/
Sources/24days/packages/
Sources/24days/App_Data/cache/
Sources/24days/App_Data/Logs/
Sources/24days/App_Data/TEMP/
Sources/24days/NuGetBackup/
Sources/24days/App_Data/NuGetBackup/
Sources/Umbraco.Extensions/App_Data/NuGetBackup/
