<div id="xmlDataIntegrityReport" ng-controller="Umbraco.Dashboard.XmlDataIntegrityReportController">

    <div ng-show="loading">
        Loading...
    </div>

    <p>You are running the default Xml cache.</p>

    <p>
        This checks that content, media and members have appropriate corresponding structures in the
        cmsContentXml and cmsPreviewXml tables. It does not check the data integrity of those structures,
        nor of the Xml cache (in-memory and file).
    </p>
    <div ng-repeat="(key, value) in items" style="padding: 4px 0;">
        <span><strong>{{value.label}}&nbsp;...</strong></span>
        <span ng-if="value.checking" class="text-info">Checking...</span>
        <span ng-if="!value.checking && !value.invalid" class="text-success"><strong>Ok</strong></span>
        <span ng-if="!value.checking && value.invalid" class="text-error"><strong>Error</strong></span>
        <div ng-show="value.fix && !value.fixing">
            <button type="button" ng-click="fix(value)" class="btn btn-danger" ng-if="value.invalid">
                <span>Fix</span>

            </button>
        </div>
        <div class="umb-loader-wrapper" ng-show="value.fixing">
            <div class="umb-loader"></div>
        </div>
    </div>
    <p>
        This lets you do what the former "<em>republish all</em>" menu item did, ie refresh the Xml
        cache (in-memory and file) by entirely reloading it from the structures in the cmsContentXml
        and cmsPreviewXml tables.
    </p>
    <button type="button" ng-click="reload()" class="btn btn-warning">
        <span>Reload</span>
    </button>
    <div class="umb-loader-wrapper" ng-show="reloading">
        <div class="umb-loader"></div>
    </div>
</div>